<a href="https://colab.research.google.com/github/Shubham5787/EDA-on-Playstore-Dataset/blob/main/EDA_Playstore.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# EDA on playstore Dataset

In [1]:
import numpy as np
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
df = pd.read_csv('/content/drive/MyDrive/Play Store Data.csv')

In [5]:
df.head().T

,0,1,2,3,4
App,Photo Editor & Candy Camera & Grid & ScrapBook,Coloring book moana,"U Launcher Lite – FREE Live Cool Themes, Hide ...",Sketch - Draw & Paint,Pixel Draw - Number Art Coloring Book
Category,ART_AND_DESIGN,ART_AND_DESIGN,ART_AND_DESIGN,ART_AND_DESIGN,ART_AND_DESIGN
Rating,4.1,3.9,4.7,4.5,4.3
Reviews,159,967,87510,215644,967
Size,19M,14M,8.7M,25M,2.8M
Installs,"10,000+","500,000+","5,000,000+","50,000,000+","100,000+"
Type,Free,Free,Free,Free,Free
Price,0,0,0,0,0
Content Rating,Everyone,Everyone,Everyone,Teen,Everyone
Genres,Art & Design,Art & Design;Pretend Play,Art & Design,Art & Design,Art & Design;Creativity
Last Updated,"January 7, 2018","January 15, 2018","August 1, 2018","June 8, 2018","June 20, 2018"
Current Ver,1.0.0,2.0.0,1.2.4,Varies with device,1.1
Android Ver,4.0.3 and up,4.0.3 and up,4.0.3 and up,4.2 and up,4.4 and up

In [6]:
df.shape

(10841, 13)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10841 non-null  object
 2   Rating          9367 non-null   float64
 3   Reviews         10841 non-null  object
 4   Size            10841 non-null  object
 5   Installs        10841 non-null  object
 6   Type            10840 non-null  object
 7   Price           10841 non-null  object
 8   Content Rating  10840 non-null  object
 9   Genres          10841 non-null  object
 10  Last Updated    10841 non-null  object
 11  Current Ver     10833 non-null  object
 12  Android Ver     10838 non-null  object
dtypes: float64(1), object(12)
memory usage: 1.1+ MB

In [8]:
df.isnull().sum().sort_values(ascending = False)

Rating            1474
Current Ver          8
Android Ver          3
Type                 1
Content Rating       1
App                  0
Category             0
Reviews              0
Size                 0
Installs             0
Price                0
Genres               0
Last Updated         0
dtype: int64

In [9]:
# Finding out the mean and filling where the Vlaue is null
df['Rating'].mean()

4.193338315362443

In [10]:
df['Rating'].fillna(4.193 , inplace = True)

In [11]:
# here we can see that the rating has no null values
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10841 non-null  object
 2   Rating          10841 non-null  float64
 3   Reviews         10841 non-null  object
 4   Size            10841 non-null  object
 5   Installs        10841 non-null  object
 6   Type            10840 non-null  object
 7   Price           10841 non-null  object
 8   Content Rating  10840 non-null  object
 9   Genres          10841 non-null  object
 10  Last Updated    10841 non-null  object
 11  Current Ver     10833 non-null  object
 12  Android Ver     10838 non-null  object
dtypes: float64(1), object(12)
memory usage: 1.1+ MB

In [12]:
#dropping the null values from the table
df.dropna(inplace = True)

In [13]:
#Now we can see that the data is clean
df.isnull().sum()

App               0
Category          0
Rating            0
Reviews           0
Size              0
Installs          0
Type              0
Price             0
Content Rating    0
Genres            0
Last Updated      0
Current Ver       0
Android Ver       0
dtype: int64

In [14]:
#Dropping the column which we dont require
df.drop('Android Ver' , axis = 1 , inplace = True)

In [15]:
df['Category'].value_counts()

FAMILY                 1968
GAME                   1144
TOOLS                   841
MEDICAL                 463
BUSINESS                460
PRODUCTIVITY            424
PERSONALIZATION         390
COMMUNICATION           387
SPORTS                  384
LIFESTYLE               382
FINANCE                 366
HEALTH_AND_FITNESS      341
PHOTOGRAPHY             335
SOCIAL                  295
NEWS_AND_MAGAZINES      283
SHOPPING                260
TRAVEL_AND_LOCAL        258
DATING                  234
BOOKS_AND_REFERENCE     230
VIDEO_PLAYERS           175
EDUCATION               156
ENTERTAINMENT           149
MAPS_AND_NAVIGATION     137
FOOD_AND_DRINK          127
HOUSE_AND_HOME           88
AUTO_AND_VEHICLES        85
LIBRARIES_AND_DEMO       84
WEATHER                  82
EVENTS                   64
ART_AND_DESIGN           64
PARENTING                60
COMICS                   60
BEAUTY                   53
Name: Category, dtype: int64

In [16]:
#checking for the duplicates and dropping the duplicate
df['App'].value_counts()

ROBLOX                                                9
CBS Sports App - Scores, News, Stats & Watch Live     8
Candy Crush Saga                                      7
8 Ball Pool                                           7
ESPN                                                  7
                                                     ..
Meet U - Get Friends for Snapchat, Kik & Instagram    1
U-Report                                              1
U of I Community Credit Union                         1
Waiting For U Launcher Theme                          1
iHoroscope - 2018 Daily Horoscope & Astrology         1
Name: App, Length: 9648, dtype: int64

In [17]:
#here we can see that the data is clean now no duplicates
df.drop_duplicates(subset = 'App' , inplace = True)

In [18]:
df['App'].value_counts()

Photo Editor & Candy Camera & Grid & ScrapBook    1
CK Pharmacies                                     1
CK Call NEW                                       1
Ck Coif                                           1
CONTRACT KILLER: ZOMBIES                          1
                                                 ..
KineMaster – Pro Video Editor                     1
Block City Wars + skins export                    1
Bike Race Free - Top Motorcycle Racing Games      1
Dance School Stories - Dance Dreams Come True     1
iHoroscope - 2018 Daily Horoscope & Astrology     1
Name: App, Length: 9648, dtype: int64

In [19]:
pd.DataFrame(df.App).reset_index()

      index                                                App
0         0     Photo Editor & Candy Camera & Grid & ScrapBook
1         1                                Coloring book moana
2         2  U Launcher Lite – FREE Live Cool Themes, Hide ...
3         3                              Sketch - Draw & Paint
4         4              Pixel Draw - Number Art Coloring Book
...     ...                                                ...
9643  10836                                   Sya9a Maroc - FR
9644  10837                   Fr. Mike Schmitz Audio Teachings
9645  10838                             Parkinson Exercices FR
9646  10839                      The SCP Foundation DB fr nn5n
9647  10840      iHoroscope - 2018 Daily Horoscope & Astrology

[9648 rows x 2 columns]

In [20]:
pd.DataFrame(df['Category'].unique())

                      0
0        ART_AND_DESIGN
1     AUTO_AND_VEHICLES
2                BEAUTY
3   BOOKS_AND_REFERENCE
4              BUSINESS
5                COMICS
6         COMMUNICATION
7                DATING
8             EDUCATION
9         ENTERTAINMENT
10               EVENTS
11              FINANCE
12       FOOD_AND_DRINK
13   HEALTH_AND_FITNESS
14       HOUSE_AND_HOME
15   LIBRARIES_AND_DEMO
16            LIFESTYLE
17                 GAME
18               FAMILY
19              MEDICAL
20               SOCIAL
21             SHOPPING
22          PHOTOGRAPHY
23               SPORTS
24     TRAVEL_AND_LOCAL
25                TOOLS
26      PERSONALIZATION
27         PRODUCTIVITY
28            PARENTING
29              WEATHER
30        VIDEO_PLAYERS
31   NEWS_AND_MAGAZINES
32  MAPS_AND_NAVIGATION

In [21]:
# now we have to check the downloads but we have some characters present in the downloads such as x , k , m , etc
df['Installs'].unique()

array(['10,000+', '500,000+', '5,000,000+', '50,000,000+', '100,000+',
       '50,000+', '1,000,000+', '10,000,000+', '5,000+', '100,000,000+',
       '1,000,000,000+', '1,000+', '500,000,000+', '50+', '100+', '500+',
       '10+', '1+', '5+', '0+'], dtype=object)

In [22]:
#checking for the null values as well
df['Installs'].isnull().value_counts()

False    9648
Name: Installs, dtype: int64

In [23]:
#removing plus sign from the Installs
df['Installs']=df['Installs'].apply(lambda x : x.strip('+'))

In [24]:
df['Installs']= df['Installs'].apply(lambda x : x.replace(',' , ''))

In [25]:
# here we can see that there is no + sign now now its easy to add
type(df['Installs'][0])

str

In [26]:
df['Installs'] = df['Installs'].astype('int')

In [27]:
df['Installs']

0           10000
1          500000
2         5000000
3        50000000
4          100000
           ...
10836        5000
10837         100
10838        1000
10839        1000
10840    10000000
Name: Installs, Length: 9648, dtype: int64

In [28]:
df.head().T

,0,1,2,3,4
App,Photo Editor & Candy Camera & Grid & ScrapBook,Coloring book moana,"U Launcher Lite – FREE Live Cool Themes, Hide ...",Sketch - Draw & Paint,Pixel Draw - Number Art Coloring Book
Category,ART_AND_DESIGN,ART_AND_DESIGN,ART_AND_DESIGN,ART_AND_DESIGN,ART_AND_DESIGN
Rating,4.1,3.9,4.7,4.5,4.3
Reviews,159,967,87510,215644,967
Size,19M,14M,8.7M,25M,2.8M
Installs,10000,500000,5000000,50000000,100000
Type,Free,Free,Free,Free,Free
Price,0,0,0,0,0
Content Rating,Everyone,Everyone,Everyone,Teen,Everyone
Genres,Art & Design,Art & Design;Pretend Play,Art & Design,Art & Design,Art & Design;Creativity
Last Updated,"January 7, 2018","January 15, 2018","August 1, 2018","June 8, 2018","June 20, 2018"
Current Ver,1.0.0,2.0.0,1.2.4,Varies with device,1.1

In [29]:
df['Category'].value_counts()

FAMILY                 1828
GAME                    959
TOOLS                   825
BUSINESS                420
MEDICAL                 395
PRODUCTIVITY            374
PERSONALIZATION         374
LIFESTYLE               369
FINANCE                 345
SPORTS                  325
COMMUNICATION           315
HEALTH_AND_FITNESS      288
PHOTOGRAPHY             281
NEWS_AND_MAGAZINES      254
SOCIAL                  239
BOOKS_AND_REFERENCE     221
TRAVEL_AND_LOCAL        219
SHOPPING                202
DATING                  171
VIDEO_PLAYERS           163
MAPS_AND_NAVIGATION     131
EDUCATION               119
FOOD_AND_DRINK          112
ENTERTAINMENT           102
AUTO_AND_VEHICLES        85
LIBRARIES_AND_DEMO       83
WEATHER                  79
HOUSE_AND_HOME           74
EVENTS                   64
ART_AND_DESIGN           63
PARENTING                60
COMICS                   56
BEAUTY                   53
Name: Category, dtype: int64

In [30]:
df['Price'].value_counts()

0          8895
$0.99       143
$2.99       124
$1.99        73
$4.99        70
           ...
$18.99        1
$389.99       1
$19.90        1
$1.75         1
$1.04         1
Name: Price, Length: 92, dtype: int64

In [31]:
# Replacing the characters so as to get datatype = Float
df['Price'] = df['Price'].apply(lambda x : x.replace('$' ,''))

In [32]:
#finding out the unique values contains
df['Price'].unique()

array(['0', '4.99', '3.99', '6.99', '1.49', '2.99', '7.99', '5.99',
       '3.49', '1.99', '9.99', '7.49', '0.99', '9.00', '5.49', '10.00',
       '24.99', '11.99', '79.99', '16.99', '14.99', '1.00', '29.99',
       '12.99', '2.49', '10.99', '1.50', '19.99', '15.99', '33.99',
       '74.99', '39.99', '3.95', '4.49', '1.70', '8.99', '2.00', '3.88',
       '25.99', '399.99', '17.99', '400.00', '3.02', '1.76', '4.84',
       '4.77', '1.61', '2.50', '1.59', '6.49', '1.29', '5.00', '13.99',
       '299.99', '379.99', '37.99', '18.99', '389.99', '19.90', '8.49',
       '1.75', '14.00', '4.85', '46.99', '109.99', '154.99', '3.08',
       '2.59', '4.80', '1.96', '19.40', '3.90', '4.59', '15.46', '3.04',
       '4.29', '2.60', '3.28', '4.60', '28.99', '2.95', '2.90', '1.97',
       '200.00', '89.99', '2.56', '30.99', '3.61', '394.99', '1.26',
       '1.20', '1.04'], dtype=object)

In [33]:
# converting the datatype into float
df['Price']=df['Price'].astype('float')

In [34]:
df['Price'].value_counts()

0.00      8895
0.99       143
2.99       124
1.99        73
4.99        70
          ...
18.99        1
389.99       1
19.90        1
1.75         1
1.04         1
Name: Price, Length: 92, dtype: int64

In [35]:
df.drop(['Current Ver' , 'Last Updated'] , axis = 1  , inplace = True)

In [44]:
df['Size'] = df['Size'].apply(lambda x : x.replace('M' , '000'))
df['Size'] = df['Size'].apply(lambda x : x.replace('k' , ''))
df['Size'] = df['Size'].apply(lambda x : x.replace('.' , ''))

In [38]:
df['Size'] = df['Size'].apply(lambda x : x.replace('Varies with device' , ''))

In [45]:
df['Size'].unique()

array(['19000', '14000', '87000', '25000', '28000', '56000', '29000',
       '33000', '31000', '12000', '20000', '21000', '37000', '55000',
       '17000', '39000', '42000', '70000', '23000', '60000', '61000',
       '46000', '92000', '52000', '11000', '24000', '', '94000', '15000',
       '10000', '26000', '80000', '79000', '57000', '35000', '54000',
       '201', '36000', '86000', '27000', '16000', '34000', '89000',
       '38000', '32000', '18000', '22000', '45000', '98000', '90000',
       '67000', '30000', '71000', '74000', '64000', '82000', '99000',
       '49000', '95000', '50000', '59000', '13000', '73000', '68000',
       '40000', '72000', '91000', '23', '65000', '75000', '51000',
       '41000', '48000', '85000', '83000', '43000', '47000', '78000',
       '88000', '66000', '79', '84000', '118', '44000', '695', '62000',
       '18', '53000', '58000', '96000', '63000', '77000', '69000',
       '93000', '100000', '81000', '97000', '556', '526', '76000', '334',
       '232', '624', '85', '41', '292', '704', '862', '899', '378', '266',
       '375', '975', '980', '696', '544', '525', '920', '779', '853',
       '720', '713', '772', '318', '58', '241', '196', '857', '51', '953',
       '865', '251', '930', '540', '313', '746', '203', '26', '314',
       '239', '371', '220', '730', '756', '91', '293', '17', '74', '14',
       '317', '78', '924', '902', '818', '81', '939', '169', '45', '475',
       '965', '545', '61', '283', '655', '714', '93', '872', '121', '322',
       '976', '172', '238', '549', '206', '954', '444', '717', '210',
       '609', '308', '705', '306', '904', '473', '175', '350', '383',
       '454', '421', '70', '812', '442', '842', '417', '412', '459',
       '478', '335', '782', '721', '430', '429', '192', '200', '460',
       '728', '496', '816', '414', '506', '887', '613', '243', '569',
       '778', '683', '592', '319', '186', '840', '647', '191', '373',
       '437', '598', '716', '585', '982', '219', '55', '948', '323',
       '691', '511', '951', '963', '25', '554', '351', '27', '82', '208',
       '913', '514', '551', '29', '103', '898', '743', '116', '153',
       '209', '353', '499', '173', '597', '809', '122', '411', '400',
       '801', '787', '50', '643', '986', '97', '516', '837', '780', '961',
       '269', '20', '498', '600', '749', '642', '881', '72', '656', '601',
       '221', '228', '108', '940', '176', '33', '663', '34', '942', '259',
       '164', '458', '245', '629', '28', '288', '775', '785', '636',
       '916', '994', '309', '485', '914', '903', '608', '500', '54',
       '562', '847', '957', '688', '811', '270', '48', '329', '523',
       '921', '874', '981', '784', '280', '24', '518', '754', '892',
       '154', '860', '364', '387', '626', '161', '879', '39', '970',
       '170', '141', '160', '144', '143', '190', '376', '193', '246',
       '73', '992', '253', '420', '404', '470', '226', '240', '89', '234',
       '257', '861', '467', '157', '44', '676', '67', '552', '885',
       '1020', '582', '619'], dtype=object)

In [49]:
df['Size'][0].astype('int')

AttributeError: ignored

In [52]:
type(df['Price'][0])

numpy.float64

In [53]:
int(df['Size'][0])

19000

In [ ]:
df['Size']=df['Size']

In [57]:
def convert_int(string):
  list1 = []
  try:
    list1.append(int(string))
  except:
    list1.append(0)
  return list1

In [59]:
print(convert_int('abc'))

[0]

In [60]:
df['new_size']=df['Size'].apply(lambda x : convert_int(x))

In [63]:
df['new_size'][0]

[19000]