<a href="https://colab.research.google.com/github/Shubham5787/practice-project/blob/main/practice2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = [1,2,3,4,5,6]

In [ ]:
a.append ({1:10})

In [ ]:
a

[1, 2, 3, 4, 5, 6, 7, 7, 8, 9, 'a', 10.5, True, [1, 2, 3], (1, 2, 3), {1: 10}]

In [ ]:
print ('updated_a:',a)

updated_a: [1, 2, 3, 4, 5, 6, 7, 7, 8, 9, 'a', 10.5, True, [1, 2, 3], (1, 2, 3), {1: 10}]

In [ ]:
print (a[4])

5

In [ ]:
print(a)

[1, 2, 3, 4, 5, 6, 7, 7, 8, 9, 'a', 10.5, True, [1, 2, 3], (1, 2, 3), {1: 10}]

In [ ]:
b = [1,2,3,4,6,7]

In [ ]:
c = []
for i in b:
  c.append(i**2)
print(c)

[1, 4, 9, 16, 36, 49]

In [ ]:
c.append (z)
print(c)

[20, 40, 50, 60, [8000, 64000, 125000, 216000], [8000, 64000, 125000, 216000]]

In [ ]:
my_word = "Hello World"
print(my_word)

Hello World

In [ ]:
a = []
type(a)

list

In [ ]:
selfa= [1,2,3]

In [ ]:
round(4.556)

5

In [ ]:
a = []

In [ ]:
a,b = (1,2)
type(a)

int

In [ ]:
b= 1,2,3
type(b)

tuple

In [ ]:
a = (1,2,3,[1,2,3],5)
a[3][0]=9
a

(1, 2, 3, [9, 2, 3], 5)

In [ ]:
a = [1,2,3,1,2,3,5]
a[3]=9
a

[1, 2, 3, 9, 2, 3, 5]

In [ ]:
a

[1, 2, 3, 9, 2, 3, 5]

In [ ]:
a.append(10)
a

[1, 2, 3, 9, 2, 3, 5, 10, 10]

In [ ]:
a

[1, 2, 3, 9, 2, 3, 5, 10, 10]

In [ ]:
a.pop(8)

IndexError: ignored

In [ ]:
a

[1, 2, 3, 9, 2, 3, 5, 10]

In [ ]:
helloword = 'hello' +' ' 'word'
print(helloword)

hello word

In [ ]:
lotsofhello = 'hello '*10
print(lotsofhello)

hello hello hello hello hello hello hello hello hello hello

In [ ]:
a = [1,2,3,4]
b = [5,6,7,8]
c= a + b
print(c)

[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
g = ['x']
h = ['y']

In [ ]:
k = object
type(k)

type

In [ ]:
x_list = [1]*5
print("x_list contains %o  objects " % len(x_list))

x_list contains 5  objects

In [ ]:
a = 5%5
a

0

In [ ]:
m = 'shubham %a dandnaik'
m

'shubham %a dandnaik'

In [ ]:
s = 'shubham'
f =   f'my name is {s} {5} '
print(f)

my name is shubham 5

In [ ]:
a = 10
b = 5
c = a%b
c

0

In [ ]:
name = 'shubham dandnaik '
s = print('name is', name)
s

name is shubham dandnaik

In [ ]:
clas = 'supriya'
s = f"who is {clas}"
s

'who is supriya'

In [ ]:
print('who is', clas)

who is supriya

In [ ]:
d = {'name' : 'shubham' , 'roll x' : 14}
print (d ['roll x'])

14

In [ ]:
g = [1,2,3,4,5]
print (g[0 : 3])

[1, 2, 3]

In [ ]:
a = range (1,15)
print(list(a))
print (list(a[-1 : -7 : -1]))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
[14, 13, 12, 11, 10, 9]

In [ ]:
astring = "Hello world!"
afewwords = astring.split(" ")
print(afewwords)

['Hello', 'world!']

In [ ]:
astring = "Hello world!"
print(astring.startswith("Helo"))
print(astring.endswith("asdfasdfasdf"))

False
False

In [ ]:
m = [1,2,3]
for  i in m :
  print(i)

1
2
3

In [ ]:
name = ['shubham', 'rushabh', 'abhishek']
for i in name :
  print ('name', i)

name shubham
name rushabh
name abhishek

In [ ]:
name = ['shubham', 'rushabh', 'abhishek']
for i in name :
  print(f"name {i}")

name shubham
name rushabh
name abhishek

In [ ]:
a = [1,2,3,4,5]
b = []
for i in a :
  c = b.append(i**2)
  print (c)

None
None
None
None
None

In [ ]:
print(len(a))
print (a.count(2))
c = b.append(a*2)
print (b)

5
1
[1, 4, 9, 16, 25, [1, 2, 3, 4, 5, 1, 2, 3, 4, 5], [1, 2, 3, 4, 5, 1, 2, 3, 4, 5], [1, 2, 3, 4, 5, 1, 2, 3, 4, 5]]

In [ ]:
j = 'shubham dandnaik'
c = j.upper
print (j)

shubham dandnaik

In [ ]:
x = 0
while x < 5 :
  print ('good')
  x+= 1

good
good
good
good
good

In [ ]:
import numpy as np

In [ ]:
array1 = np.array([2,4,6,8])
print(array1)

[2 4 6 8]

In [ ]:
array2 = np.array([1,4,5,6])
print(array2)

[1 4 5 6]

In [ ]:
array3 = np.array([4,5,6,8,7,9])
print(array3)

[4 5 6 8 7 9]

In [ ]:
array4 = np.array((4,5,6))
print(array4)
type(array4)

[4 5 6]

numpy.ndarray

In [ ]:
array5 = np.array({1,2,3})
print(array5)
type(array5)

{1, 2, 3}

numpy.ndarray

In [ ]:
array6 = np.array({'shubham':1 , 'rushabh':2 })
print(array6)
type(array6)

{'shubham': 1, 'rushabh': 2}

numpy.ndarray

In [ ]:
# 2 dimensional array
twodarray = np.array([{'shuhham':2 , 'rushabh':3},{'rushabh':5 , 'shubham':5}])
print(twodarray)
type(twodarray)

[{'shuhham': 2, 'rushabh': 3} {'rushabh': 5, 'shubham': 5}]

numpy.ndarray

In [ ]:
# 3 dimensional array
threedarray = np.array([[[1,2,3],[4,5,6]],[[7,8,9],[10,11,12]]])
print(threedarray)

[[[ 1  2  3]
  [ 4  5  6]]

 [[ 7  8  9]
  [10 11 12]]]

In [ ]:
anotherarray = np.array([[1,2,3,4],[5,6,7,8]])
print(anotherarray)

[[1 2 3 4]
 [5 6 7 8]]

In [ ]:
#two dimensional array
morearray = np.array([[1],[2]])
print(morearray)

[[1]
 [2]]

In [ ]:
#3 dimensional array 
arr = np.array([[[1],[2]],[[3],[4]],[[5],[6]]])
print(arr)

[[[1]
  [2]]

 [[3]
  [4]]

 [[5]
  [6]]]

In [ ]:
# 3 dimensional array
second = np.array([[[1],[2]],[[3],[4]]])
print(second)

[[[1]
  [2]]

 [[3]
  [4]]]

In [ ]:
print(second.shape)
second.ndim

(2, 2, 1)

3

In [ ]:
# another 3d array
another = np.array([[[1,2,3],[4,5,6],[7,8,9],[1,2,3]],[[7,8,9],[1,2,3],[4,5,6],[7,8,9]]])
print(another)
print(another.shape)
print(another.ndim)

[[[1 2 3]
  [4 5 6]
  [7 8 9]
  [1 2 3]]

 [[7 8 9]
  [1 2 3]
  [4 5 6]
  [7 8 9]]]
(2, 4, 3)
3

In [ ]:
# pandas

In [ ]:
import pandas as pd

In [ ]:
pandas_series = pd.Series([2,5,4,6],
                          [5,6,7,8])
print(pandas_series)

5    2
6    5
7    4
8    6
dtype: int64

In [ ]:
#to change the index name
panda_series = pd.Series([1,5,6,7,8], index= ['a','b','c','d','e'])
print(panda_series)

a    1
b    5
c    6
d    7
e    8
dtype: int64

In [ ]:
print(panda_series[0])

panda_series['a']

1

1

In [ ]:
# random integer with 5 rows and 4 columns
some2d_array = np.random.randint(10,20,(5,4))
panda_frame = pd.DataFrame(some2d_array , columns = ['one', 'two', 'three','four'])
panda_frame

   one  two  three  four
0   11   14     12    17
1   10   16     19    18
2   19   13     13    14
3   19   18     19    11
4   19   17     11    18

In [ ]:
# random integer with 5 rows and 4 columns changed name of rows and columns
some2d_array = np.random.randint(10,20,(5,4))
print(some2d_array)
panda_frame = pd.DataFrame(some2d_array , columns = ['one', 'two', 'three','four'], index=['a','b','c','d','e'])
panda_frame

[[10 10 12 13]
 [13 18 13 11]
 [14 10 10 11]
 [10 10 19 16]
 [19 10 19 19]]

   one  two  three  four
a   10   10     12    13
b   13   18     13    11
c   14   10     10    11
d   10   10     19    16
e   19   10     19    19

In [ ]:
# list of list
listoflist = [['shubham',10],['rushabhm',12]]
pd.DataFrame(listoflist)

          0   1
0   shubham  10
1  rushabhm  12

In [ ]:
#pandas on ditctionary keys will be the name of column and the values will be arrange in rows
dictionary = {'students': [12,13,14], 'marks':[10,12,13]}
pd.DataFrame(dictionary)

   students  marks
0        12     10
1        13     12
2        14     13

In [ ]:
#for list of dictionaries
list_of_dict =[{'a':1,'b':2,'c':3},{'a':4,'b':5,'c':6 }]
pd.DataFrame(list_of_dict)

   a  b  c
0  1  2  3
1  4  5  6

In [ ]:
#for list of dictionaries  with unequal arg or when thw keys are different in dict
list_of_dict =[{'a':1,'b':2,'c':3},{'a':4,'b':5,'c':6 , 'd': 8}]
pd.DataFrame(list_of_dict)

   a  b  c    d
0  1  2  3  NaN
1  4  5  6  8.0

In [ ]:
#list of list in dataframe
list_of_list = [['shubham','rushabh','abhishek'],[1,2,3],[4,5,6]]
print(np.array(list_of_list))
pd.DataFrame(list_of_list,index = ['a','b','c'])

[['shubham' 'rushabh' 'abhishek']
 ['1' '2' '3']
 ['4' '5' '6']]

         0        1         2
a  shubham  rushabh  abhishek
b        1        2         3
c        4        5         6

In [ ]:
a = {'shubham': 1 , 'rushabh':2}
b = {'abhiskek' : 4 , 'mohit':5}
list(zip(a,b))

[('shubham', 'abhiskek'), ('rushabh', 'mohit')]

In [ ]:
list_of_name = ['shubham','abhishek','rushabh']
list_of_age = [22,23,np.nan]
list_of_tuples = list(zip(list_of_name,list_of_age))
print(list_of_tuples)
dataframe = pd.DataFrame(list_of_tuples, columns = ['name','age'])
dataframe

[('shubham', 22), ('abhishek', 23), ('rushabh', nan)]

       name   age
0   shubham  22.0
1  abhishek  23.0
2   rushabh   NaN

In [ ]:
x = 2
for i in range (x):
  x-=2
  print(x)

0
-2

In [ ]:
x = 'abcd'
for i in x:
  print(i)

a
b
c
d

In [ ]:
x.upper()

'ABCD'

In [ ]:
i = 0
while i<3:
  i+=1
  print(i)
else:
  print(0)

1
2
3
0

In [ ]:
i = 1
while False:
   if i%2==0:
     break
     print(i)

In [ ]:
i =0
while i<3:
  i+=1
  print(i)
else:
  print(0)

1
2
3
0

In [ ]:
# DATA WRANGLING

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
file_path = '/content/Copy of imdb_data.csv'
imdb_df=pd.read_csv(file_path)

In [ ]:
imdb_df.head().T

,0,1,2,3,4
id,1,2,3,4,5
belongs_to_collection,"[{'id': 313576, 'name': 'Hot Tub Time Machine ...","[{'id': 107674, 'name': 'The Princess Diaries ...",NaN,NaN,NaN
budget,14000000,40000000,3300000,1200000,0
genres,"[{'id': 35, 'name': 'Comedy'}]","[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...","[{'id': 18, 'name': 'Drama'}]","[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...","[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam..."
homepage,NaN,NaN,http://sonyclassics.com/whiplash/,http://kahaanithefilm.com/,NaN
imdb_id,tt2637294,tt0368933,tt2582802,tt1821480,tt1380152
original_language,en,en,en,hi,ko
original_title,Hot Tub Time Machine 2,The Princess Diaries 2: Royal Engagement,Whiplash,Kahaani,
overview,"When Lou, who has become the ""father of the In...",Mia Thermopolis is now a college graduate and ...,"Under the direction of a ruthless instructor, ...",Vidya Bagchi (Vidya Balan) arrives in Kolkata ...,Marine Boy is the story of a former national s...
popularity,6.575393,8.248895,64.29999,3.174936,1.14807
poster_path,/tQtWuwvMf0hCc2QR2tkolwl7c3c.jpg,/w9Z7A0GHEhIp7etpj0vyKOeU1Wx.jpg,/lIv1QinFqz4dlp5U4lQ6HaiskOZ.jpg,/aTXRaPrWSinhcmCrcfJK17urp3F.jpg,/m22s7zvkVFDU9ir56PiiqIEWFdT.jpg
production_companies,"[{'name': 'Paramount Pictures', 'id': 4}, {'na...","[{'name': 'Walt Disney Pictures', 'id': 2}]","[{'name': 'Bold Films', 'id': 2266}, {'name': ...",NaN,NaN
production_countries,"[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_3166_1': 'IN', 'name': 'India'}]","[{'iso_3166_1': 'KR', 'name': 'South Korea'}]"
release_date,2/20/15,8/6/04,10/10/14,3/9/12,2/5/09
runtime,93.0,113.0,105.0,122.0,118.0
spoken_languages,"[{'iso_639_1': 'en', 'name': 'English'}]","[{'iso_639_1': 'en', 'name': 'English'}]","[{'iso_639_1': 'en', 'name': 'English'}]","[{'iso_639_1': 'en', 'name': 'English'}, {'iso...","[{'iso_639_1': 'ko', 'name': '/'}]"
status,Released,Released,Released,Released,Released
tagline,The Laws of Space and Time are About to be Vio...,It can take a lifetime to find true love; she'...,The road to greatness can take you to the edge.,NaN,NaN
title,Hot Tub Time Machine 2,The Princess Diaries 2: Royal Engagement,Whiplash,Kahaani,Marine Boy
Keywords,"[{'id': 4379, 'name': 'time travel'}, {'id': 9...","[{'id': 2505, 'name': 'coronation'}, {'id': 42...","[{'id': 1416, 'name': 'jazz'}, {'id': 1523, 'n...","[{'id': 10092, 'name': 'mystery'}, {'id': 1054...",NaN
cast,"[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'cast_id': 5, 'character': 'Andrew Neimann',...","[{'cast_id': 1, 'character': 'Vidya Bagchi', '...","[{'cast_id': 3, 'character': 'Chun-soo', 'cred..."
crew,"[{'credit_id': '59ac067c92514107af02c8c8', 'de...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...","[{'credit_id': '54d5356ec3a3683ba0000039', 'de...","[{'credit_id': '52fe48779251416c9108d6eb', 'de...","[{'credit_id': '52fe464b9251416c75073b43', 'de..."
revenue,12314651,95149435,13092000,16000000,3923970

In [ ]:
imdb_df.shape

(3000, 23)

In [ ]:
imdb_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 23 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     3000 non-null   int64
 1   belongs_to_collection  604 non-null    object
 2   budget                 3000 non-null   int64
 3   genres                 2993 non-null   object
 4   homepage               946 non-null    object
 5   imdb_id                3000 non-null   object
 6   original_language      3000 non-null   object
 7   original_title         3000 non-null   object
 8   overview               2992 non-null   object
 9   popularity             3000 non-null   float64
 10  poster_path            2999 non-null   object
 11  production_companies   2844 non-null   object
 12  production_countries   2945 non-null   object
 13  release_date           3000 non-null   object
 14  runtime                2998 non-null   float64
 15  spoken_languages       2980 non-null   object
 16  status                 3000 non-null   object
 17  tagline                2403 non-null   object
 18  title                  3000 non-null   object
 19  Keywords               2724 non-null   object
 20  cast                   2987 non-null   object
 21  crew                   2984 non-null   object
 22  revenue                3000 non-null   int64
dtypes: float64(2), int64(3), object(18)
memory usage: 539.2+ KB

# data wrangling

In [ ]:
#to drop the column as it does not contain any information
imdb_df.drop('id', axis=1 , inplace=True)

In [ ]:
#when we use only describe it gives us the description of only numeric values 
imdb_df.describe()

                id        budget   popularity      runtime       revenue
count  3000.000000  3.000000e+03  3000.000000  2998.000000  3.000000e+03
mean   1500.500000  2.253133e+07     8.463274   107.856571  6.672585e+07
std     866.169729  3.702609e+07    12.104000    22.086434  1.375323e+08
min       1.000000  0.000000e+00     0.000001     0.000000  1.000000e+00
25%     750.750000  0.000000e+00     4.018053    94.000000  2.379808e+06
50%    1500.500000  8.000000e+06     7.374861   104.000000  1.680707e+07
75%    2250.250000  2.900000e+07    10.890983   118.000000  6.891920e+07
max    3000.000000  3.800000e+08   294.337037   338.000000  1.519558e+09

In [ ]:
#when we use only describe it gives us the description of only numeric values 
imdb_df.describe(include = 'all')

,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,poster_path,...,release_date,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew,revenue
count,604,3.000000e+03,2993,946,3000,3000,3000,2992,3000.000000,2999,...,3000,2998.000000,2980,3000,2403,3000,2724,2987,2984,3.000000e+03
unique,422,NaN,872,941,3000,36,2975,2992,NaN,2999,...,2398,NaN,401,2,2400,2969,2648,2975,2984,NaN
top,"[{'id': 645, 'name': 'James Bond Collection', ...",NaN,"[{'id': 18, 'name': 'Drama'}]",http://www.transformersmovie.com/,tt2637294,en,Joshua,"When Lou, who has become the ""father of the In...",NaN,/tQtWuwvMf0hCc2QR2tkolwl7c3c.jpg,...,9/10/10,NaN,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Based on a true story.,The Magnificent Seven,"[{'id': 10183, 'name': 'independent film'}]",[],"[{'credit_id': '59ac067c92514107af02c8c8', 'de...",NaN
freq,16,NaN,266,4,1,2575,2,1,NaN,1,...,5,NaN,1817,2996,3,2,27,13,1,NaN
mean,NaN,2.253133e+07,NaN,NaN,NaN,NaN,NaN,NaN,8.463274,NaN,...,NaN,107.856571,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.672585e+07
std,NaN,3.702609e+07,NaN,NaN,NaN,NaN,NaN,NaN,12.104000,NaN,...,NaN,22.086434,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.375323e+08
min,NaN,0.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,0.000001,NaN,...,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000e+00
25%,NaN,0.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,4.018053,NaN,...,NaN,94.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.379808e+06
50%,NaN,8.000000e+06,NaN,NaN,NaN,NaN,NaN,NaN,7.374861,NaN,...,NaN,104.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.680707e+07
75%,NaN,2.900000e+07,NaN,NaN,NaN,NaN,NaN,NaN,10.890983,NaN,...,NaN,118.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.891920e+07
max,NaN,3.800000e+08,NaN,NaN,NaN,NaN,NaN,NaN,294.337037,NaN,...,NaN,338.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.519558e+09

In [ ]:
# Create three dataframes

# Runtime >= 150 mins
imdb1 = imdb_df[imdb_df['runtime'] >= 150].reset_index(drop=True)

imdb2 = imdb_df[ (imdb_df['runtime'] < 150) & (imdb_df['runtime'] > 100 )].reset_index(drop=True)

imdb3 = imdb_df[imdb_df['runtime'] <= 100].reset_index(drop=True)

In [ ]:
imdb1.shape

(135, 22)

In [ ]:
imdb2.shape

(1586, 22)

In [ ]:
imdb3.shape

(1277, 22)

In [ ]:
imdb1

,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,poster_path,...,release_date,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew,revenue
0,NaN,44000000,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",http://thehatefuleight.com/,tt3460252,en,The Hateful Eight,Bounty hunters seek shelter from a raging bliz...,20.328822,/fqe8JxDNO8B8QfOGTdjh6sPCdSC.jpg,...,12/25/15,167.0,"[{'iso_639_1': 'es', 'name': 'Espaol'}, {'iso...",Released,No one comes up here without a damn good reason.,The Hateful Eight,"[{'id': 801, 'name': 'bounty hunter'}, {'id': ...","[{'cast_id': 22, 'character': 'Major Marquis W...","[{'credit_id': '538aa95ec3a368714e0005b3', 'de...",155760117
1,NaN,12000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 35, '...",NaN,tt0059243,en,The Great Race,"Professional daredevil and white-suited hero, ...",4.473327,/nc6FRAVC4a8o4podiFy2P5qI9ul.jpg,...,7/1/65,160.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,"The movie with 20,000-mile or one-million-laug...",The Great Race,"[{'id': 9253, 'name': 'slapstick'}, {'id': 159...","[{'cast_id': 1, 'character': 'Prof. Fate', 'cr...","[{'credit_id': '52fe445e9251416c75032581', 'de...",25333333
2,NaN,500000,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,tt0242572,ta,Kandukondain Kandukondain,Two young women with differing views on love f...,0.660663,/AnhaX3iivU7aLc6fLuAuHXTsbgO.jpg,...,5/5/00,157.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Kandukondain Kandukondain,NaN,"[{'cast_id': 1, 'character': 'Manohar', 'credi...","[{'credit_id': '52fe47c7c3a368484e0d8f41', 'de...",500000
3,NaN,0,"[{'id': 14, 'name': 'Fantasy'}, {'id': 18, 'na...",NaN,tt1772980,ru,Mishen,"In the year 2020, a group of wealthy Moscovite...",1.042112,/uMzkG73Y5qL9tiRrXnGlndOqhbJ.jpg,...,6/26/11,158.0,"[{'iso_639_1': 'de', 'name': 'Deutsch'}, {'iso...",Released,NaN,Target,NaN,"[{'cast_id': 1001, 'character': 'Victor', 'cre...","[{'credit_id': '58cdbad4c3a36850e9011085', 'de...",73000
4,NaN,72000000,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,tt0112573,en,Braveheart,"Enraged at the slaughter of Murron, his new br...",20.755149,/2qAgGeYdLjelOEqjW9FYvPHpplC.jpg,...,5/24/95,177.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Every man dies. Not every man truly lives.,Braveheart,"[{'id': 30, 'name': 'individual'}, {'id': 388,...","[{'cast_id': 5, 'character': 'William Wallace'...","[{'credit_id': '52fe4225c3a36847f80079c1', 'de...",210000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
130,NaN,22000000,"[{'id': 18, 'name': 'Drama'}, {'id': 36, 'name...",NaN,tt0083987,en,Gandhi,"In the early years of the 20th century, Mohand...",12.383755,/2z9A4FSu1YySrhhcuqkdMIXpgyN.jpg,...,11/30/82,191.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,His triumph changed the world forever.,Gandhi,"[{'id': 789, 'name': 'muslim'}, {'id': 958, 'n...","[{'cast_id': 7, 'character': 'Mahatma Gandhi',...","[{'credit_id': '574dc2c3925141120e0000cb', 'de...",77737889
131,NaN,18000000,"[{'id': 18, 'name': 'Drama'}, {'id': 36, 'name...",NaN,tt0086879,en,Amadeus,The incredible story of genius musician Wolfga...,12.677592,/flnoqdC38mbaulAeptjynOFO7yi.jpg,...,10/26/84,160.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,...Everything you've heard is true,Amadeus,"[{'id': 131, 'name': 'italy'}, {'id': 1233, 'n...","[{'cast_id': 4, 'character': 'Antonio Salieri'...","[{'credit_id': '57d19657c3a3684b9d008667', 'de...",51973029
132,NaN,12000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,tt0060934,en,The Sand Pebbles,Engineer Jake Holman arrives aboard the gunboa...,11.354247,/zgahpKXixtsmveyl9oPOD7GhmpW.jpg,...,12/20/66,182.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,This is the heroic story of the men on the U.S...,The Sand Pebbles,"[{'id': 440, 'name': 'missionary'}, {'id': 478...","[{'cast_id': 1, 'character': 'Jake Holman', 'c...","[{'credit_id': '52fe442ec3a36847f8087029', 'de...",20000000
133,NaN,31500000,"[{'id': 18, 'name': 'Drama'}, {'id': 10752, 'n...",http://www.apocalypsenow.com,tt0078788,en,Apocalypse Now,"At the height of the Vietnam war, Captain Benj...",13.596300,/jcvJ2xcVWU9Wh0hZAxcs103s8nN.jpg,...,8/15/79,153.0,"[{'iso_639_1': 'km', 'name': ''}, {'iso_639_1'...",Released,This is the end...,Apocalypse Now,"[{'id': 1008, 'name': 'guerrilla'}, {'id': 126...","[{'cast_id': 29, 'character': 'Captain Benjami...","[{'credit_id': '52fe4210c3a36847f80012c7', 'de...",89460381
134,NaN,61000000,"[{'id': 18, 'name': 'Drama'}, {'id': 10402, 'n...",http://www.lesmiserablesfilm.com,tt1707386,en,Les Misrables,An adaptation of the successful stage musical ...,13.524080,/qEsrAHoxj746FRb7OLGYjrx1AI3.jpg,...,12/18/12,157.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Fight. Dream. Hope. Love.,Les Misrables,"[{'id': 254, 'name': 'france'}, {'id': 642, 'n...",NaN,NaN,441809770

In [ ]:
a = [1,2,3]
b = [4,5,6]
c = [7,8,9]

In [ ]:
d = a+b+c
d

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
#to concate the list in pandas
list_df = [imdb1,imdb2,imdb3]
non_null_values = pd.concat(list_df , axis=1 )
non_null_values.shape

(1586, 66)

In [ ]:
#another method of concat
non_null_no = pd.concat([imdb1 , imdb2 , imdb3 ], axis=1)
non_null_no.shape

(1586, 66)